 body {
  margin: 0;
  font-family: 'Yehuda CLM';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  font-weight: 400;
  font-style: normal;
}

/* code {
  font-family: 'Yehuda CLM';
} */

html {
  font-size: 14px;
}

 .card {
 /* background: var(--surface-card);*/
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}  
 
div {
    background-repeat: repeat-y;
    background-size: cover;
    /*font-family: "Yehuda CLM";*/
    font-weight: 400;
    font-style: normal;
  } 

  
  button {
 
    font-weight: 400;
    font-style: normal;
  }  

.App{
    background:url('../public/images/back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

